In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data/edge_attributes.txt',header=None)

In [3]:
df.shape

(15213222, 5)

In [8]:
df

                 0    1    2    3    4
0         3.789731  1.0  1.0  0.0  0.0
1         5.507777  1.0  0.0  0.0  0.0
2         5.029150  1.0  0.0  0.0  0.0
3         0.000000  1.0  0.0  0.0  0.0
4         5.861668  1.0  0.0  0.0  0.0
...            ...  ...  ...  ...  ...
15213217  5.638730  1.0  0.0  0.0  0.0
15213218  0.000000  1.0  0.0  0.0  0.0
15213219  3.813081  1.0  1.0  0.0  0.0
15213220  0.000000  1.0  0.0  0.0  0.0
15213221  0.000000  1.0  0.0  0.0  0.0

[15213222 rows x 5 columns]

In [4]:
df.columns

Int64Index([0, 1, 2, 3, 4], dtype='int64')

edge attributes 1-4 are multi-hot, maybe all zero

In [ ]:
df[df.loc[:,[0]] == ]

In [13]:
ind = df[df.loc[:,[1,2,3,4]].any(axis=1)].index

In [16]:
df.index.difference(ind)

Int64Index([   14917,    25765,    25771,    26014,    39813,    41433,
               50810,    52936,    59972,    62031,
            ...
            15190864, 15190902, 15190931, 15205831, 15205838, 15205843,
            15207055, 15207061, 15207062, 15207623],
           dtype='int64', length=7269)

In [17]:
df.loc[df.index.difference(ind)]

                  0    1    2    3    4
14917     10.696012  0.0  0.0  0.0  0.0
25765     10.999947  0.0  0.0  0.0  0.0
25771     11.300112  0.0  0.0  0.0  0.0
26014     10.134448  0.0  0.0  0.0  0.0
39813     10.045766  0.0  0.0  0.0  0.0
...             ...  ...  ...  ...  ...
15205843  10.838806  0.0  0.0  0.0  0.0
15207055  11.416698  0.0  0.0  0.0  0.0
15207061  13.139260  0.0  0.0  0.0  0.0
15207062  11.155979  0.0  0.0  0.0  0.0
15207623  11.772612  0.0  0.0  0.0  0.0

[7269 rows x 5 columns]

In [58]:
df = pd.read_csv('./prediction/proteinBert_pretrained_200_dim_automl_log_loss_refit_full.csv', index_col=0, header=0)

In [59]:
df

,class0,class1,class2,class3,class4,class5,class6,class7,class8,class9,class10,class11,class12,class13,class14,class15,class16,class17
name,,,,,,,,,,,,,,,,,,
11as,0.008193,0.003315,0.701645,0.052261,0.002894,0.039056,0.005537,0.009915,0.053250,0.001328,0.001159,0.027309,0.000659,0.001034,0.067254,0.012778,0.011399,0.001016
16pk,0.000420,0.003584,0.966751,0.000284,0.000123,0.002910,0.007341,0.004078,0.001238,0.000878,0.000720,0.001760,0.000331,0.000144,0.004045,0.001365,0.003411,0.000617
19hc,0.000650,0.000039,0.002087,0.000304,0.000130,0.001131,0.941220,0.000085,0.003731,0.000722,0.000145,0.000391,0.000167,0.000620,0.047728,0.000548,0.000199,0.000103
1ag9,0.002638,0.001947,0.690012,0.000735,0.000767,0.009548,0.005794,0.002067,0.015451,0.000940,0.002949,0.003066,0.000640,0.000930,0.253798,0.004864,0.003477,0.000378
1agx,0.003934,0.005166,0.655500,0.003860,0.004018,0.006262,0.157991,0.003953,0.010444,0.002372,0.002027,0.005576,0.001824,0.002680,0.072305,0.057240,0.002635,0.002213
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6o81,0.006541,0.006123,0.786758,0.000301,0.002474,0.087389,0.001201,0.004908,0.003901,0.000800,0.002047,0.005578,0.001047,0.000442,0.012742,0.073702,0.003500,0.000543
6o93,0.014362,0.004080,0.106674,0.007091,0.008953,0.017260,0.039043,0.012757,0.271867,0.002206,0.005378,0.005166,0.003537,0.002034,0.338778,0.138834,0.019330,0.002649
6ogd,0.001398,0.000601,0.004042,0.000704,0.000597,0.001559,0.004717,0.000302,0.922891,0.000293,0.001893,0.000729,0.001064,0.000549,0.005876,0.051249,0.001440,0.000097
6okk,0.000551,0.000059,0.004345,0.000047,0.000181,0.001893,0.000257,0.001304,0.001210,0.000472,0.000289,0.984882,0.000172,0.000528,0.002051,0.001172,0.000492,0.000097
6qmn,0.003447,0.000178,0.000566,0.000340,0.000449,0.001570,0.001566,0.000163,0.985680,0.000162,0.000482,0.000327,0.000325,0.000864,0.002756,0.000565,0.000171,0.000389

In [60]:
df[df<=1/18] = 0

In [61]:
df.sum(axis=1)

name
11as    0.768899
16pk    0.966751
19hc    0.941220
1ag9    0.943810
1agx    0.943036
          ...
6o81    0.947850
6o93    0.856153
6ogd    0.922891
6okk    0.984882
6qmn    0.985680
Length: 1223, dtype: float64

In [64]:
df.divide(df.sum(axis=1), axis=0).to_csv('./prediction/proteinBert_pretrained_200_dim_automl_log_loss_refit_full_postprocessing.csv')